<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <form action="https://formsubmit.co/oguissinwi@gmail.com" method="POST">
      <input type="email" name="email">
      <form action="send_email.php" method="post"></form>
      <div class="formbold-mb-5">
        <div class="flex flex-wrap formbold--mx-3">
          <div class="w-full sm:w-half formbold-px-3">
            <title>Date Time Picker Drop Down Position</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    
    <link rel="stylesheet" type="text/css" href="styles.css" />
            <div class="formbold-mb-5 w-full">
              <label for="date" class="formbold-form-label" > Date </label>
              <input
                type="date"
                class="formbold-form-input" data-target=".datepicker" name="start_date" id="start_date"
                v-model="order.start_date" placeholder="Date de départ"
                autocomplete="off" required>
                
            </div>
          </div>
          
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <label for="time" class="formbold-form-label"> Time </label> 
              <input
                type="time" value="time_format" data-template="DD / MM / YYYY     HH : mm" name="timepicker" value=""
                name="timepicker"
                id="time" 
                class="formbold-form-input" required
              />   
            </div>
          </div>
        </div>
        
       <label class="chbs-form-field-label" >
       </label>
       
      </label>
        <label for="name" class="formbold-form-label"> Pickup Location</label>
        <input
          type="text"name="origin_address"id="origin_address" value="" placeholder="Pickup Location"
          class="formbold-form-input" autocomplete="off" data-label-waypoint="Waypoint"
        />
        <input type="hidden" name="origin_place_id" value="" class="required">
        <span class="chbs-my-location-link">&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">Use my location</a></span>
            <span class="chbs-tooltip chbs-meta-icon-question" title="The address where your journey will start."></span>
        
          
        </label>
          <label for="name" class="formbold-form-label"> Drop-off Location</label>
          <input
            type="text"name="origin_address"id="origin_address" value="" placeholder="Drop-off Location"
            class="formbold-form-input" autocomplete="off" data-label-waypoint="Waypoint"
          />
          <input type="hidden" name="origin_place_id" value="" class="required">
          <label>
          
          </label>
          
          <input type="hidden" name="chbs_pickup_location_coordinate_service_type_1" value=""/>
      </div>
      <div class="formbold-mb-5">
        <label for="name" class="formbold-form-label"> Full Name </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Full Name"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="phone" class="formbold-form-label"> Phone Number </label>
        <input
          type="text"
          name="phone"
          id="phone"
          placeholder="Enter your phone number"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="email" class="formbold-form-label"> Email Address </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          class="formbold-form-input"
          required
        />
      </div>
      
      
      <div class="formbold-mb-5 formbold-pt-3">
        <label class="formbold-form-label formbold-form-label-2">
          Address Details
        </label>
        <div class="flex flex-wrap formbold--mx-3">
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="area"
                id="area"
                placeholder="Enter area"
                class="formbold-form-input"
              />
            </div>
          </div>
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="city"
                id="city"
                placeholder="Enter city"
                class="formbold-form-input"
              />
            </div>
          </div>
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="state"
                id="state"
                placeholder="Enter state"
                class="formbold-form-input"
              />
            </div>
          </div>
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <input
                type="text"
                name="post-code"
                id="post-code"
                placeholder="Post Code"
                class="formbold-form-input"
              />
            </div>
          </div>
        </div>
      </div>
      <label class="formbold-form-label formbold-form-label-2">
        Booking Details
      </label>
        <label
          class="formbold-form-label formbold-form-label-2">Select Car<br>
          
        </label>
        <div class="col-12 mt-4">
          <label>Type de transport:</label>
          <div class="row car-list btn-group">
           <label class="car-image pr-0 col-6 col-md-3">
              <div class="ml-0">
                <input type="radio" name="vehicle_type_id"
                  class="required is-disabled"
                  checked   value="3" v-model="order.vehicle_type.id"
                              data-name="Berline &amp; SUV"
                              data-max-passengers="4"
                              data-max-baggage="4"
                              v-on:change="onVehicleTypeChange"> Berline &amp; SUV
                          <img src="img/Classe-E-Breizhcab-Limousine.png"
                              alt="Berline &amp; SUV">
                      </div>
                  </label>
              <label class="car-image pr-0 col-6 col-md-3">
                      <div class="ml-0">
                          <input type="radio" name="vehicle_type_id"
                              class="required is-disabled"
                              value="4" v-model="order.vehicle_type.id"
                              data-name="Mercedes-Vito"
                              data-max-passengers="7"
                              data-max-baggage="7"
                              v-on:change="onVehicleTypeChange"> Mercedes-Vito
                          <img src="img/Classe-V-Breizhcab-Limousine.png"
                              alt="Mercedes-Vito">
                      </div>
                  </label>
                    <label class="car-image pr-0 col-6 col-md-3">
                      <div class="ml-0">
                          <input type="radio" name="vehicle_type_id"
                              class="required is-disabled"
                             value="6" v-model="order.vehicle_type.id"
                              data-name="VAN"
                              data-max-passengers="7"
                              data-max-baggage="7"
                              v-on:change="onVehicleTypeChange"> VAN
                          <img src="img/Classe-V-Breizhcab-Limousine.png"
                              alt="VAN">
                      </div>
                  </label>
             </div>
      </div>
      </form>
      
      <div>
        <button class="formbold-btn"></button><a href="mailto:oguissinwi@gmail.com ">Book Appointment</a>
      </div>
    </form>
  </div>
</div>
<style>
  